{% extends 'user/base.html' %}
{% block body %}
<h1 class="text-2xl m-5 font-bold">Edit profile</h1>
<div class="container py-5 ">
    <form method="POST" class="bg-white shadow-md m-10 rounded px-2  pd-8 mb-4">
        {%csrf_token%}
        <div class="mb-3">
            <label for="" class="block text-gray-700 text-sm font-bold mb-2">First Name</label>
            <div class="shadow text-gray-700 appearance-none border rounded py-2 px-3 mr-10">{{user_form.first_name}}</div>
        </div>
        <div class="mb-3">
            <label for="" class="block text-gray-700 text-sm font-bold mb-2">Last name</label>
            <div class="shadow text-gray-700 appearance-none border rounded py-2 px-3 mr-10">{{user_form.last_name}}</div>
        </div>
        <div class="mb-3">
            <label for="" class="block text-gray-700 text-sm font-bold mb-2">Email</label>
            <div class="shadow text-gray-700 appearance-none border rounded py-2 px-3 mr-10">{{user_form.email}}</div>
        </div>
        <div class="mb-3">
            <label for="" class="block text-gray-700 text-sm font-bold mb-2">Image</label>
            <div class="shadow text-gray-700 appearance-none border rounded py-2 px-3 mr-10">{{profile_form.photo}}</div>
        </div>
        
        <input type="submit" class="text-white bg-green-500 px-5 py-2 mb-3"></input>
    </form>
    
</div>

{% endblock %}